/*header*/
.vector{
position: absolute;
left: 1.74%;
right: 93.57%;
top: 6.89%;
bottom: 91.08%;

background: #000000;
}


.style-takes-over{
    position: absolute;
    width: 495px;
    height: 22px;
    left: 72px;
    top: 246px;
    
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    letter-spacing: 1.25em;
    color: #1A1A1A;
    transform: rotate(90deg);

}


/* MENU SECTION */
.menu{
    position: absolute;
    width: 659px;
    height: 55px;
    left: 539px;
    top: 68px;
}
.contact{
    position: absolute;
width: 241px;
height: 55px;
left: 957px;
top: 68px;

font-family: 'Barlow';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #FFFFFF;
}

.about{
position: absolute;
width: 241px;
height: 55px;
left: 820px;
top: 68px;

font-family: 'Barlow';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #FFFFFF;
}

.colecction{
    position: absolute;
    width: 241px;
    height: 55px;
    left: 657px;
    top: 68px;
    
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
}
.home{
position: absolute;
width: 241px;
height: 55px;
left: 539px;
top: 68px;

font-family: 'Barlow';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 18px;

color: #FFFFFF;
}

/* SUBJECT */
.subjet-pricipal{
    position: absolute;
    width: 1399.41px;
    height: 987px;
    left: -3px;
    top: -1px;
}


 /* TEXT */
.text-pricipal{
    position: absolute;
    width: 884px;
    height: 597px;
    left: 190px;
    top: 214px;
}


